.page {
	width: 800px;
	min-height: 100%;
	float: left;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border-left: solid 0px #777;
	background-color: #FFF;
}

.page:first-child-of-type {
	border-left: none;
}

.page > * {
	padding: 0 70px;
}

.page > h1 {
	width: 70%;
	color: #444;
	font-weight: normal;
	margin-top: 10px;
}