.sidebar {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 70px;
	height: 100%;
	background-color: #CCC;
}

.sidebar li {
	display: block;
	width: 70px;
	height: 100%;
}

.sidebar li > ul {
	display: block;
	padding: 6px;
	margin: 0;
	border-top: solid 2px #DDD;
}

.sidebar li > ul:first-child {
	border-top: none;
}

.sidebar li > ul:hover {
	background-color: #FFF;
}